/* nav bar heading styling */
.navbar {
    background-color: #e3f2fd;
}

.h1 {
    font-size: 30px;
}

.row{
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgreen;
}

.card-body {
    text-align: center;
}

/* styling for footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}